<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<br>
<br>
<br>
<main role="main" class="container">
    <header th:replace="layout/layout :: header"></header>
    <div class="starter-template">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <div class="container">
                <fieldset class="border p-2">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <i class="bi bi-arrow-right"></i> Usted se encuentra en
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">MI PERFIL</li>
                        </ol>
                    </nav>
                    <hr>
                    <div class="container"><h2>Mi perfil</h2></div>

                </fieldset>
            </div>
            <div class="card-body">
                <fieldset class="border p-2">
                    <div class="container">
                        <form class="was-validated" th:id="${id}" th:object="${usuario}" method="post" name="fusuario">
                            <div class="d-grid gap-2 d-md-block">
                                <button class="btn btn-success btn-sm" th:formaction="@{'/mi-perfil'}"
                                        type="button" onclick="validarFormularioUsuario()"><i
                                        class="bi bi-pencil-square"></i> Guardar
                                </button>
                            </div>
                            <hr>
                            </br>
                            <div class="row mb-3">
                                <label for="rut" class="col-sm-2 col-form-label">RUT</label>
                                <div class="col-sm-3">
                                    <input th:errorclass="'form-control is-invalid'" name="rut" required
                                           placeholder="Especificar el RUT" type="text"
                                           th:field="*{rut}" class="form-control is-valid" id="rut">
                                </div>
                                <label for="nacimiento" class="col-sm-2 col-form-label">Fecha
                                    Nacimiento</label>
                                <div class="col-sm-3">
                                    <input th:errorclass="'form-control is-invalid'" name="nacimiento"
                                           placeholder="Especificar fecha nacimiento" type="date" required
                                           th:field="*{fechaNacimiento}" class="form-control is-valid" id="nacimiento">
                                </div>

                                <div class="col-sm-2">
                                    <select th:field="*{estado.id}"
                                            class="form-control badge bg-success text-white"
                                            id="estado">
                                        <option th:each="estado : ${estados}" th:value="${estado.getId()}"
                                                th:text="${estado.getDescripcion()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="nombres" class="col-sm-2 col-form-label">Nombres</label>
                                <div class="col-sm-10">
                                    <input th:errorclass="'form-control is-invalid'" name="nombres" required
                                           placeholder="Especificar el nombre" type="text"
                                           th:field="*{nombres}" class="form-control is-valid"
                                           id="nombres">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="apellidop" class="col-sm-2 col-form-label">Apellido
                                    Paterno</label>
                                <div class="col-sm-4">
                                    <input th:errorclass="'form-control is-invalid'" name="apellidop" required
                                           placeholder="Especificar el apellido paterno" type="text"
                                           th:field="*{apellidoP}" class="form-control is-valid"
                                           id="apellidop">
                                </div>
                                <label for="apellidom" class="col-sm-2 col-form-label">Apellido
                                    Materno</label>
                                <div class="col-sm-4">
                                    <input th:errorclass="'form-control is-invalid'" name="apellidom" required
                                           placeholder="Especificar el apellido maternso" type="text"
                                           th:field="*{apellidoM}" class="form-control is-valid"
                                           id="apellidom">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="region" class="col-sm-2 col-form-label">Región</label>
                                <div class="col-sm-4">
                                    <select onChange="selectRegion();" th:errorclass="'form-select is-invalid'"
                                            name="region" required
                                            th:field="*{direccion.comuna.region.id}" class="form-select is-invalid"
                                            id="region">
                                        <option th:value="0">Seleccione...</option>
                                        <option th:each="region : ${regiones}" th:value="${region.getId()}"
                                                th:text="${region.getNombre()}"></option>
                                    </select>
                                </div>

                                <label for="comuna" class="col-sm-2 col-form-label">Comuna</label>
                                <div class="col-sm-4">
                                    <select th:errorclass="'form-select is-invalid'"
                                            th:field="*{direccion.comuna.id}" class="form-select is-valid" id="comuna"
                                            name="comuna">
                                        <option selected value="0">Seleccione...</option>
                                        <option th:each="comuna : ${comunas}" th:value="${comuna.getId()}"
                                                th:text="${comuna.getNombre()}"></option>
                                    </select>
                                </div>

                            </div>

                            <div class="row mb-3">
                                <label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
                                <div class="col-sm-10">
                                    <input name="direccion"
                                           placeholder="Especificar la direccion" type="text"
                                           class="form-control is-valid" id="direccion"
                                           th:field="*{direccion.descripcion}"
                                           th:errorclass="'form-control is-invalid'">
                                </div>

                            </div>
                            <div class="row mb-3">
                                <label for="correo" class="col-sm-2 col-form-label">Correo Electronico</label>
                                <div class="col-sm-10">
                                    <input th:errorclass="'form-control is-invalid'" name="correo" required
                                           placeholder="Especificar el correo" type="email"
                                           th:field="*{correo}" class="form-control is-valid" id="correo">
                                </div>

                            </div>
                            <div class="row mb-3">
                                <label for="pass" class="col-sm-2 col-form-label">Contraseña</label>
                                <div class="col-sm-10">
                                    <input th:errorclass="'form-control is-invalid'" name="pass" required
                                           placeholder="Especificar la contraseña" type="password"
                                           th:field="*{pass}" class="form-control is-valid" id="pass">
                                </div>

                            </div>

                            <div class="mb-3">
                                <label for="usuarioId" class="form-label"></label>
                                <input placeholder="ID" type="hidden" th:field="*{id}"
                                       class="form-control" id="usuarioId">
                            </div>
                        </form>
                    </div>

                </fieldset>
            </div>
        </div>
    </div>
</main>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>