<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Usuarios</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min-5.1.3.css}">
        <!--<link rel="stylesheet" th:href="@{/css/bootstrap-icons-1.10.5.css}">-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    </head>
    <body>
        <header th:fragment="header">
            <!-- Componente de mensajeria del backend-->
            <div class="fixed-top">
                <nav th:replace="layout/navbar :: navbar"></nav>
                <div>
                    <div id="alerta" th:if="${message}" th:class="${alertType}" role="alert">
                        <div th:each="msg : ${message}">
                            <p th:text="${{msg}}"></p>
                        </div>
                        <div></div>
                        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </header>
        <footer class="footer" th:fragment="footer">
            <script th:src="@{/js/jquery-3.5.1.js}"></script>
            <script th:src="@{/js/jquery.dataTables-1.13.4.min.js}"></script>
            <script th:src="@{/js/dataTables.bootstrap5-1.13.4.min.js}"></script>
            <script th:src="@{/js/sweetalert-2.1.2.min.js}"></script>
            <script th:src="@{/js/jquery-ui-1.13.2.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/app-util.js}"></script>
        </footer>
    </body>
</html>