<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Consultas</title>
    </head>
    <!--<div sec:authorize="hasRole('USER')">Text visible to user.</div>-->
    <!--<div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>-->
    <!--<div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div>-->
    <!--Authenticated username:-->
    <!--<div sec:authentication="name"></div>-->

    <!--Authenticated user's firstName:-->
    <!--<label sec:authentication="principal.firstName"></label>-->
    <!--Authenticated user's lastName:-->
    <!--<label sec:authentication="principal.lastName"></label>-->
    <!--Authenticated user's email:-->
    <!--<div sec:authentication="principal.email"></div>-->
    <!--Authenticated user roles:-->
    <!--<div sec:authentication="principal.authorities"></div>-->

    <body>
        <nav sec:authorize="isAuthenticated()" th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!--<li th:if="${session.usuario.getPerfil().getId() == 1 or session.usuario.getPerfil().getId() == 3 or session.usuario.getPerfil().getId() == 4}"-->

                        <li sec:authorize="hasRole('ADMINISTRADOR')" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-buildings-fill"></i>
                                Mantenedores
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" th:href="@{/usuarios}" href="#">
                                        <i class="bi bi-pin-angle"></i>
                                        Usuarios
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/estados}" href="#">
                                        <i class="bi bi-pin-angle"></i>
                                        Estados
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/regiones}">
                                        <i class="bi bi-pin-angle"></i>
                                        Regiones
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" th:href="@{/perfiles}">
                                        <i class="bi bi-pin-angle"></i>
                                        Perfiles
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--<li class="nav-item">-->
                        <!--<a class="nav-link disabled">Disabled</a>-->
                        <!--</li>-->
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-fill-gear">
                                    Configuración
                                </i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item disabled" aria-disabled="true" href="#">
                                        <i class="bi bi-person-circle"></i>
                                        <label sec:authentication="principal.firstName"></label> <label sec:authentication="principal.lastName"></label>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" aria-current="page" th:href="@{/mi-perfil}">
                                        <i class="bi bi-person-lines-fill"></i>
                                        Mi perfil
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="d-grid gap-2">
                                    <form class="dropdown-item" th:action="@{/logout}" method="post">
                                        <button style="text-decoration:none" class="btn btn-link text-light"
                                                type="submit">
                                            <i class="bi bi-box-arrow-in-left"></i>
                                            Cerrar Sesión
                                        </button>

                                    </form>

                                </li>

                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>