<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<br>
<br>
<br>
<main role="main" class="container">
    <header th:replace="layout/layout :: header"></header>
    <div class="starter-template">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <div class="container">
                <fieldset class="border p-2">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <i class="bi bi-arrow-right"></i> Usted se encuentra en
                            </li>
                            <li class="breadcrumb-item">mantenedor</li>
                            <li class="breadcrumb-item"><a th:href="@{/estados}">estados</a></li>
                            <li class="breadcrumb-item active" aria-current="page">REGISTRO</li>
                        </ol>
                    </nav>
                    <hr>
                    <div class="container"><h2>Estado</h2></div>

                </fieldset>
            </div>
            <div class="card-body">
                <fieldset class="border p-2">
                    <div class="container">
                        <form th:id="${id}" class="was-validated" th:object="${estado}" method="post" name="festado">
                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-primary btn-sm" th:href="@{/estados}"><i
                                        class="bi bi-box-arrow-in-left"></i> Volver</a>
                                <button id="guardarEstado" class="btn btn-success btn-sm" th:formaction="@{'/estados/form/'}"
                                        type="button" onclick="validarFormularioEstado()"><i
                                        class="bi bi-pencil-square"></i> Guardar
                                </button>
                                <button th:if="${id}>'0'"
                                        th:attr="onclick=${'modalEliminarEnVistaDetalle('+ '''' + 'estados' + '''' + ',' + '''' + id + '''' + ')'}"
                                        type="button" class="btn btn-outline-danger btn-sm">
                                    <i class="bi bi-trash3"></i> Eliminar
                                </button>

                            </div>
                            <hr>
                            </br>
                            <div class="mb-3 form-check form-switch">
                                <input th:field="*{activo}" class="form-check-input" type="checkbox" role="switch"
                                       id="activo" checked>
                                <label class="form-check-label" for="activo">Activo</label>

                            </div>
                            <div class="row mb-3">
                                <label for="descripcion" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input th:errorclass="'form-control alert-danger'" required id="descripcion"
                                           name="descripcion"
                                           placeholder="Especificar el nombre" type="text"
                                           th:field="*{descripcion}" class="form-control">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="estadoId" class="form-label"></label>
                                <input placeholder="ID" type="hidden" th:field="*{id}"
                                       class="form-control" id="estadoId">
                            </div>
                        </form>
                    </div>

                </fieldset>
            </div>
        </div>
    </div>
</main>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>