<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<br>
<br>
<br>
<main role="main" class="container">
    <header th:replace="layout/layout :: header"></header>
    <div class="starter-template">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <div class="container">
                <fieldset class="border p-2">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <i class="bi bi-arrow-right"></i> Usted se encuentra en
                            </li>
                            <li class="breadcrumb-item">mantenedor</li>
                            <li class="breadcrumb-item active" aria-current="page">PERFILES</li>
                        </ol>
                    </nav>
                    <hr>
                    <div class="container"><h2>Perfiles</h2></div>

                </fieldset>
            </div>

            <div class="card-body">
                <fieldset class="border p-2">
                    <div class="container">
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-primary btn-sm" th:href="@{/perfiles/form}"><i class="bi bi-plus-lg"></i>
                                Agregar</a>

                        </div>
                        <hr>
                        </br>
                        <!--<div class="d-grid gap-2 d-md-block">-->
                        <!--<a th:href="@{/v1/usuarios/form}" type="button"-->
                        <!--class="btn btn-primary btn-sm">Añadir</a>-->
                        <!--&lt;!&ndash;<a th:attr="onclick=${'subirCSV()'}" type="button"&ndash;&gt;-->
                        <!--&lt;!&ndash;class="btn btn-primary btn-sm">Cargar CSV</a>&ndash;&gt;-->
                        <!--<a th:if="${#lists.size(listadoUsuarios)>0}" th:attr="onclick=${'exportarPDF(''usuarios'')'}"-->
                        <!--type="button"-->
                        <!--class="btn btn-primary btn-sm">Exportar a PDF</a>-->
                        <!--<a th:if="${#lists.size(listadoUsuarios)>0}" th:attr="onclick=${'exportarExcel(''usuarios'')'}"-->
                        <!--type="button"-->
                        <!--class="btn btn-primary btn-sm">Exportar a Excel</a>-->
                        <!--<a th:if="${#lists.size(listadoUsuarios)>0}" th:attr="onclick=${'descargarCsv(''usuarios'')'}"-->
                        <!--type="button"-->
                        <!--class="btn btn-primary btn-sm">Descargar Plantilla</a>-->
                        <!--</div>-->
                        <!--</br>-->
                        <div th:switch="${#lists.size(listadoPerfiles)}">
                            <div th:case="'0'" class="alert alert-secondary" role="alert">
                                <p class="text-center">No existen registros</p>
                            </div>


                            <div th:case="*">
                                <!--<div />-->
                                <div class="table-responsive">
                                    <table id="example" class="display table table-hover table-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Estado</th>
                                            <th style="width:5%" scope="col"></th>
                                            <th style="width:5%" scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="perfil : ${listadoPerfiles}">
                                            <td th:text="${{perfil.getId()}}"></td>
                                            <td th:text="${{perfil.getNombre()}}"></td>
                                            <td>
                                    <span th:class="${perfil.getActivo()}? 'badge bg-success' : 'badge bg-warning text-dark'"
                                          th:text="${perfil.getActivo()}? 'ACTIVO' : 'INACTIVO'"></span>
                                            </td>

                                            <td>

                                                <div class="d-grid gap-2">
                                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Ver" th:href="@{'/perfiles/form/' + ${perfil.getId()}}" type="button"
                                                       class="btn btn-info text-light"><i class="bi bi-eye"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                <button th:attr="onclick=${'modalEliminarEnVistaDetalle('+ '''' + 'perfiles' + '''' + ',' + '''' + perfil.getId() + '''' + ')'}"
                                                        type="button" class="btn btn-outline-danger">
                                                    <i class="bi bi-trash3"></i>
                                                </button>

                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>

        </div>
    </div>

</main>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>