<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<br>
<br>
<br>
<main role="main" class="container">
    <header th:replace="layout/layout :: header"></header>
    <div class="starter-template">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <div class="container">
                <fieldset class="border p-2">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <i class="bi bi-arrow-right"></i> Usted se encuentra en
                            </li>
                            <li class="breadcrumb-item">mantenedor</li>
                            <li class="breadcrumb-item"><a th:href="@{/regiones}">regiones</a></li>
                            <li class="breadcrumb-item active" aria-current="page">REGISTRO</li>
                        </ol>
                    </nav>
                    <hr>
                    <div class="container"><h2>Región</h2></div>

                </fieldset>
            </div>

            <div class="card-body">
                <fieldset class="border p-2">
                    <div class="container">
                        <form th:id="${id}" class="was-validated" th:object="${region}" method="post" name="fregion">
                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-primary btn-sm" th:href="@{/regiones}"><i
                                        class="bi bi-box-arrow-in-left"></i> Volver</a>
                                <button id="guardarRegion" class="btn btn-success btn-sm" th:formaction="@{'/regiones/form/'}"
                                        type="button" onclick="validarFormularioRegion()"><i
                                        class="bi bi-pencil-square"></i> Guardar
                                </button>
                                <button th:if="${id}>'0'"
                                        th:attr="onclick=${'modalEliminarEnVistaDetalle('+ '''' + 'regiones' + '''' + ',' + '''' + id + '''' + ')'}"
                                        type="button" class="btn btn-outline-danger btn-sm">
                                    <i class="bi bi-trash3"></i> Eliminar
                                </button>

                            </div>
                            <hr>
                            </br>
                            <div class="mb-3 form-check form-switch">
                                <input th:field="*{activo}" class="form-check-input" type="checkbox" role="switch"
                                       id="activo" checked>
                                <label class="form-check-label" for="activo">Activo</label>

                            </div>
                            <div class="row mb-3">
                                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input th:errorclass="'form-control alert-danger'" required name="nombre"
                                           placeholder="Especificar el nombre" type="text"
                                           th:field="*{nombre}" class="form-control" id="nombre">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="regionId" class="form-label"></label>
                                <input placeholder="ID" type="hidden" th:field="*{id}"
                                       class="form-control" id="regionId">
                            </div>
                        </form>

                        <div th:if="${id}>'0'">
                            <br>
                            <form id="comuna">

                                <div class="row mb-3">
                                    <label for="nombrecomuna" class="col-sm-2 col-form-label">Comunas</label>
                                    <div class="col-sm-8">
                                        <input name="nombre" id="nombrecomuna"
                                               th:value="${{comuna.getNombre()}}"
                                               placeholder="Nombre comuna" type="text"
                                               class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button"
                                                th:attr="onclick=${'validarFormularioComuna('+ '''' + id + '''' + ')'}"
                                                class="btn btn-success"><i class="bi bi-plus-lg"></i> Agregar
                                        </button>
                                    </div>
                                </div>

                            </form>

                            <fieldset class="border p-2">
                                <div class="container">
                                    </br>
                                    <div th:switch="${#lists.size(listadoComunas)}">
                                        <div th:case="'0'" class="alert alert-secondary" role="alert">
                                            <p class="text-center">No existen registros</p>
                                        </div>


                                        <div th:case="*">
                                            <!--<div />-->
                                            <div class="table-responsive">
                                                <table id="example" class="display table table-hover table-sm">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Nombre</th>
                                                        <th style="width:5%" scope="col"></th>
                                                        <th style="width:5%" scope="col"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="comuna : ${listadoComunas}">
                                                        <form th:id="${'comuna'+ comuna.getId()}" class="was-validated"
                                                              method="post">
                                                            <input name="id" id="comunaId"
                                                                   th:value="${{comuna.getId()}}"
                                                                   type="hidden">
                                                            <td>
                                                                <input id="nombrecomunae" name="nombre"
                                                                       th:value="${{comuna.getNombre()}}"
                                                                       placeholder="Especificar el nombre" type="text"
                                                                       class="form-control">
                                                            </td>
                                                            <td>
                                                                <div class="d-grid gap-2">
                                                                    <button th:formaction="@{'/regiones/'+ ${region.getId()} +'/comunas'}"
                                                                            type="button"
                                                                            th:attr="onclick=${'validarFormularioComuna('+ '''' + id + '''' + ',' + '''' + comuna.getId() + '''' + ')'}"
                                                                            class="btn btn-success">
                                                                        <i class="bi bi-pencil-square"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                            <td>

                                                                <div class="d-grid gap-2">
                                                                    <button th:attr="onclick=${'modalEliminarComunaEnVistaDetalle('+ '''' + id + '''' + ',' + '''' + comuna.getId() + '''' + ')'}"

                                                                            type="button"
                                                                            class="btn btn-outline-danger">
                                                                        <i class="bi bi-trash3"></i>
                                                                    </button>

                                                                </div>
                                                                <input required name="id" th:value="${{comuna.getId()}}"
                                                                       type="hidden">

                                                                <!--<a th:href="@{'/regiones/form/' + ${comuna.getId()}}"-->
                                                                <!--type="button"-->
                                                                <!--class="btn btn-info">Actualizar</a>-->


                                                            </td>
                                                        </form>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </fieldset>
                        </div>
                    </div>

                </fieldset>


            </div>
        </div>
    </div>
</main>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>