<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<br>
<br>
<main role="main" class="container">
    <header>
        <div class="fixed-top">
            <div>
                <div id="alerta" th:if="${message}" th:class="${alertType}" role="alert">
                    <div th:each="msg : ${message}">
                        <p th:text="${{msg}}"></p>
                    </div>
                    <div></div>
                    <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </header>

    <div class="starter-template">
        <div style="padding-left: 100px;padding-right: 100px;padding-top: 0px">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                <fieldset class="border p-4">
                    <div class="container">
                        <fieldset class="border p-1">
                            <div style="text-align: center"><h2>Acceso</h2></div>
                        </fieldset>
                        <br>
                        <form action="login" method="post" class="container was-validated">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="bi bi-person-fill" style="font-size: 18px;"></i>
                                </span>
                                <input type="text" class="form-control"
                                       required placeholder="usuario" name='username'>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon2">
                                    <i class="bi bi-lock-fill" style="font-size: 18px;"></i>
                                </span>
                                <input name='password' type="password" class="form-control"
                                       required placeholder="contraseña">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Acceder</button>

                        </form>
                        <!--<p>No tienes cuenta? <a th:href="@{/v1/usuarios/registro}" href="#">-->
                        <!--<b> Registrate </b></a></p>-->

                    </div>
                </fieldset>


            </div>
        </div>
    </div>
</main>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>