<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p><br/><img src="cid:logo.png"/></p>
<p>Estimado/a </p>
<p>Mediante este correo se le informa que se le ha concedido acceso al sistema de mantención de usuarios, puede acceder
    al enlace con los siguientes datos:</p>
<div>- URL: <a href="www.mantencion.cl/login">www.mantencion.cl/login</a></div>
<div th:text="${'- USUARIO: ' + user}"></div>
<div th:text="${'- CONTRASEÑA: ' + pass}"></div>
<br/>
<p>Saludos.</p>

</body>
</html>